<%= form_with(model: movie, local: true) do |form| %>
  <%= render "shared/errors", object: movie %>

  <%= form.label :title %>
  <%= form.text_field :title, autofocus: true %>

  <%= form.label :description %>
  <%= form.text_area :description, rows: 10 %>

  <%= form.label :rating %>
  <%= form.select :rating, Movie::RATINGS, prompt: "Select a rating" %>

  <%= form.label :released_on %>
  <%= form.date_select :released_on, {}, {class: "date"} %>

  <%= form.label :director %>
  <%= form.text_field :director %>

  <%= form.label :total_gross %>
  <%= form.number_field :total_gross %>

  <%= form.label :duration %>
  <%= form.text_field :duration %>

  <%= form.label :image_file_name %>
  <%= form.text_field :image_file_name %>

  <%= form.submit %>
<% end %>
