<% @movies.each do |movie| %>
  <section class="movie">
    <div class="image">
    <%= image_tag movie.image_file_name %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to(movie.title, movie) %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <p>
        <%= description(movie) %>
      </p>
    </div>
  </section>
<% end %>

<section class="admin">
  <%= link_to("Add a Film", new_movie_path, class: "button")%>
</section>
