<header>
  <nav>
    <!-- logo links to homepage -->
    <%= link_to(image_tag("flixr", size: "65x38", alt: ""), root_path) %>
    <ul>
      <li><%= link_to("All Films", movies_path) %></li>
    </ul>
  </nav>
</header>
